.h2 {
    text-align: center;
}
.workout {
    display: flex;
    justify-content: space-around;
}
.workout>.chest,.back,.shoulder {
    margin: 0;
    display: inline-block;
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
}
.none {
    display: none;
}