* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.workout-box {
    margin: auto;
    width: 400px;
}
form div {
    display: flex;
    justify-content: space-between;
}
.h2 {
    text-align: center;
    margin: 30px 0;
}
.workout {
    display: flex;
    justify-content: space-around;
}
.workout>.chest,.back,.shoulder {
    margin: 0;
    display: inline-block;
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
}
.none {
    display: none;
}